!README.md
.circle*
.codecov*
.coveralls*
.dockerignore
.drone*
.DS_Store
.editorconfig
.env*
.eslintcache
.eslintrc.yml
.git*
.gitignore
.husky
.huskyrc*
.lintstagedrc*
.npmignore
.prettierrc.yml
.prettierrc*
.tmp
.vscode
*.bck
*.md
coverage
dist
docker-compose.dev.yml
docker-compose.yml
Dockerfile
docs
Jenkinsfile
jest.config.js
junit.xml
node_modules
README.md
test
yarn-error.log
